@model string;

@if(User.Identity.IsAuthenticated&&User.IsInRole("Admin"))
{
    <div style="position:fixed;right:25px; bottom:25px;" class="text-white  rounded-circle  ">
        <a asp-action="Create" class="btn btn-primary"><i class="fa-solid fa-circle-plus"></i> Add New</a>
    </div>
}
