@inject SignInManager<ApplicationUser> SignInManager;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Eticket</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Eticket.styles.css" asp-append-version="true" />
    <link href="~/font-awesome/css/all.css" rel="stylesheet" />
    <link href="~/font-awesome/css/all.min.css" rel="stylesheet" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Movies" asp-action="Index">Eticket</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Movies" asp-action="Index"><i class="fa-solid fa-film"></i> Movies</a>
                        </li>
                        @if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                        {
                            <li>
                                <div class="dropdown">
                                    <a class="btn  dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fa-solid fa-gear"></i> Management
                                    </a>

                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" asp-controller="Actors"><i class="fa-solid fa-person"></i> Actors</a></li>
                                        <li><a class="dropdown-item" asp-controller="Cinema"><i class="fa-solid fa-film"></i> Cinema </a></li>
                                        <li><a class="dropdown-item" asp-controller="producer"> <i class="fa-solid fa-headphones"></i> producer</a></li>
                                    </ul>

                                </div>

                            </li>
                        }
                       
                    </ul>
                    <form class="d-flex " role="search" asp-controller="Movies" asp-action="Filter">
                        <input name="SearchString" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>

                    <ul class="navbar-nav">
                        @await Component.InvokeAsync("ShoppingCartSummary")
                    </ul>
                    @*User Profile Section*@
                    <div class="dropdown">
                        <button class="btn btn-outline-success dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fa-solid fa-id-badge"></i> Hello @SignInManager.UserManager.GetUserName(User)
                        </button>
                        <ul class="dropdown-menu">

                            <li><a class="dropdown-item " asp-action="Index" asp-controller="Orders">
                                <i class="fa-solid fa-bars"></i> Orders</a>
                             </li>
                             @if(SignInManager.IsSignedIn(User)&&User.IsInRole("Admin"))
                             {
                                <li>
                                    <a class="dropdown-item " asp-action="Users" asp-controller="Account">
                                        <i class="fa-solid fa-bars"></i> Users
                                    </a>
                                </li>

                                <li>
                                    <a class="dropdown-item " asp-action="Index" asp-controller="Roles">
                                        <i class="fa-solid fa-bars"></i> Roles
                                    </a>
                                </li>
                             }
                           
                        </ul>
                    </div>


                    @if(SignInManager.IsSignedIn(User))
                    {
                        <a class="ms-2" asp-action="LogOut" asp-controller="Account"><i class="fa-solid fa-right-from-bracket fa-2x"></i></a>
                    }
                    else
                    {
                        <a class="ms-2 text-decoration: none" asp-action="Login" asp-controller="Account"><i class="fa-solid fa-right-from-bracket fa-2x"></i> Login</a>
                    }

                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer text-muted">
        <div class="container">
            &copy; 2023 - Eticket - <a>Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
