@model Producer
@{
    ViewData["Title"] = "Create";
}

<br />
<br />
<h1>All Producer</h1>

<br />
<br />





    <div class="mb-3">

        <div class="align-middle text-center">
         
            <img src="~/Images/@Model.ProfilePictureUrl" class="w-25 rounded-circle" />

        </div>

    </div>

    <div class="mb-3">
        <label asp-for="FullName" class="form-label">Full Name</label>
        <input asp-for="FullName" class="form-control" aria-describedby="emailHelp" readonly>
        <span asp-validation-for="FullName" class="text-danger"></span>
    </div>

  

    <div class="mb-3">
        <label asp-for="Bio" class="form-label">Bio</label>
        <input asp-for="Bio" class="form-control" aria-describedby="emailHelp" readonly>
        <span asp-validation-for="Bio" class="text-danger"></span>
    </div>
@if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
    {
          <a asp-action="Edit" class="btn btn-primary" asp-route-id="@Model.Id">Update</a>
    }
    <a asp-action="Index" class="btn btn-Success">Back To List</a>
