@model IdentityRole
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>


<form asp-action="Edit"asp-controller="Roles">

    <input hidden asp-for="Id">

    <div class="mb-3">
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" class="form-control w-50" aria-describedby="emailHelp">
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class=" my-3">
        <a class="btn btn-info" asp-action="AddOrRemoveUsers" asp-controller="Roles" asp-route-RoleId="@Model.Id">Add Or Remove Users </a>
    </div>

    <input type="submit" value="Save" class="btn btn-primary" />
    <a asp-action="Index" class="btn btn-light">Back To List</a>
</form>
