@model LoginViewModel
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}




<div class="main-agileinfo">
	<div class="agileits-top">
		<form asp-action="Login">
			<input class="text email" asp-for="Email" placeholder="Email" required="">
			<input class="text" asp-for="Password" placeholder="Password" required="">
			<div class="wthree-text">
				<label class="anim">
					<input type="checkbox" class="checkbox" asp-for="RememmberMe" >
					<span>Rememmber Me</span>
				</label>
				<div class="clear"> </div>
			</div>
			<input type="submit" value="Login">
		</form>
		
		<p>Don't You have an Account? <a asp-action="Register"> Register Now!</a></p>
		<p>Forget Password ? <a asp-action="ForgetPassword"> Forget Password!</a></p>
	</div>
</div>

@section ValidationScriptSection{
	<script src="e:\ap.net projects\eticket\eticket\wwwroot\lib\jquery-validation\dist\jquery.validate.min.js"></script>
	<script src="e:\ap.net projects\eticket\eticket\wwwroot\lib\jquery-validation-unobtrusive\jquery.validate.unobtrusive.min.js"></script>
}