@model ResetPasswordViewModel
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}



<div class="main-agileinfo">
	<div class="agileits-top">
		<form asp-action="ResetPassword" method="post">
			<div asp-validation-summary="All"></div>

			<input class="text email" asp-for="NewPassword" placeholder="New Password" required="">
			<input class="text" asp-for="ConfirmPassword" placeholder="Confirm Password" required="">
			
			<input type="submit" value="Reset Password">
		</form>

		<p>Don't You have an Account? <a asp-action="Register"> Register Now!</a></p>
		
	</div>
</div>

@section ValidationScriptSection{
	<script src="e:\ap.net projects\eticket\eticket\wwwroot\lib\jquery-validation\dist\jquery.validate.min.js"></script>
	<script src="e:\ap.net projects\eticket\eticket\wwwroot\lib\jquery-validation-unobtrusive\jquery.validate.unobtrusive.min.js"></script>
}