
<div class="row">
    <div class="col-md-6 offset-3 aler alert-success text-center">
        <h2> Order Completed Successfully</h2>
        <p>You Can Check All Orders in Orders Section Of your Profile </p>
        <hr />
        <p>Thank You</p>

    </div>
</div>